---
---

@import 'config';
@import 'footer';
@import 'header';
@import 'about';
@import 'story';
@import 'skills';

body {
    background-color: $default-background-color;
    color: $default-fontcolor;
    font-size: 18px;
    font-family: $font-default;
    width: 100%;
}

hr {
    border: 1px solid white
}

section {
    padding: 10px 0;
}

#experience {
    .title {
        font-size: 36px;
        text-transform: uppercase;
        text-align: center;
        padding-bottom: 20px;
    }
}

section:last-of-type {
    margin-bottom: 70px;
}

.container {
    width: 1170px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}

.container-small {
    max-width: 900px;
}

.btn {
    color: #080808;
    outline: 0;
    text-decoration: none;
    padding: 5px 20px;
    cursor: pointer;
}

.btn-active {
    color: red;
}

ul {
    margin: 0;
    li {
        display: inline-block;
    }
}

@media (max-width: $mobile-screen) {
    section:last-of-type {
        margin-bottom: 100px;
    }

    .container {
        width: 100% !important;
        padding: 0;
    }
}
