---
---

@import 'config';

body {
    background-color: $default-background-color;
    color: $default-fontcolor;
    font-size: 18px;
    font-family: $font-default;
}

hr {
    border: 1px solid white
}

footer {
    position: fixed;
    background: black;
    color: white;
    width: 100%;
    margin: 0 auto;
    bottom: 0;
    right: 0;
    text-align: right;
    height: 50px;

    .container {
        margin: 17px auto;
    }

    .footer-copyright {
        text-align: right;
        padding: 5px 0;
    }

    .footer-social {
        float: left;
        span {
            padding: 0 2px;
            i {
                font-size: 20px;
            }
        }
    }
}

header {
    height: 60px;
    .header-title {
        color: red;
        display: inline-block;
        vertical-align: middle;
    }

    .header-nav {
        display: inline-block;
        vertical-align: middle;
        float: right;
        margin: 15px 0;
    }
}

section {
    padding: 10px 0;
}

#about {
    .about-img-title {
        white-space: nowrap;

        .about-img {
            display: inline-block;
            width: 50%;
            text-align: center;

            img {
                width: 250px;
                border-radius: 125px;
            }
        }

        .about-title {
            width: 50%;
            display: inline-block;
            text-align: center;
            text-transform: uppercase;
            vertical-align: top;
            margin: 68px 0;

            .about-name {
                font-size: 56px;

            }

            .about-designation {
                font-size: 21px;
            }
        }
    }


    .content-holder {
        width: 80%;
        display: inline-block;
        font-size: 20px;
    }
}

#my-story {
    .title {
        font-size: 36px;
        text-transform: uppercase;
        text-align: center;
    }

    .excerpt {
        margin-top: 25px;
        font-size: 22px;
        line-height: 38px;
        text-align: justify;
    }
}

#my-skills {
    .title {
        font-size: 36px;
        text-transform: uppercase;
        text-align: center;
        padding-bottom: 20px;
    }

    .skill-container {
        .background {
            position: relative;
            width: 100%;
            height:40px;
            background: #f4f4f4;
            width: 75%;
            white-space: nowrap;
            margin-bottom: 15px;

            .name {
                color: $color-white;
                width: 25%;
                padding: 8px;
                background: #000;
                display: inline-block;
            }

            .value {
                color: $color-white;
                text-align: center;
                display: inline-block;
                position: relative;
                width: 75%;

                div {
                    padding: 8px;
                    background: #888;
                }
            }
        }
    }
}

#experience {
    .title {
        font-size: 36px;
        text-transform: uppercase;
        text-align: center;
        padding-bottom: 20px;
    }
}

section:last-of-type {
    margin-bottom: 70px;
}

.container {
    width: 1170px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}

.container-small {
    max-width: 900px;
}

.btn {
    color: #080808;
    outline: 0;
    text-decoration: none;
    padding: 5px 20px;
    cursor: pointer;
}

.btn-active {
    color: red;
}

ul {
    margin: 0;
    li {
        display: inline-block;
    }
}
