@import 'config';

body {
    background-image: url("/assets/dots.png");
    background-color: #3f8bd9;
    color: #F7FFF7;
    font-size: 18px;
    font-family: $font-default;
}

hr {
    border: 1px solid white
}

footer {
    position: fixed;
    width: 100%;
    margin: 0 auto;
    bottom: 0;
    right: 0;
    text-align: right;
    font-family: $font-secondary;

    .footer-copyright {
        text-align: right;
        padding: 5px 0;
    }

    .footer-social {
        float: left;
        span {
            padding: 0 2px;
            i {
                font-size: 20px;
            }
        }
    }
}

header {
    .header-title {
        display: inline-block;
        vertical-align: middle;
        font-size: 25px;
        padding: 15px 0;
        font-family: $font-secondary;
    }

    .header-nav {
        display: inline-block;
        vertical-align: middle;
        float: right;
        margin: 15px 0;
    }
}

#about {
    .about-title {
        font-size: 60px;
        text-align: center;
        font-family: $font-secondary;
    }

    .image-holder {
        width: 20%;
        margin: 10px;
        img {
            width: 150px;
            border: 2px solid #fff;
            border-radius: 88px;
            margin-top: 53px;
            float: left;
        }
    }

    .content-holder {
        width: 80%;
        display: inline-block;
        font-size: 20px;
    }
}


.container {
    width: 1170px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}

.container-small {
    max-width: 900px;
}

.btn {
    border: 1px solid#080808;
    color: #080808;
    outline: 0;
    background-color: #F7FFF7;
    text-decoration: none;
    padding: 5px 20px;
    font-family: $font-secondary;
}

.btn:hover {
    background-color: #ffdd3a;
}

.btn-active {
    background-color: #ffdd3a;
}

ul {
    margin: 0;
    li {
        display: inline-block;
    }
}
