<span class="header-title">Home</span>
<nav class="header-nav">
    <ul>
        <li><a href="{{site.baseurl}}/" class="btn {% if page.url == '/' %}btn-active{% endif %}">Home</a></li>
        <li><a href="{{site.baseurl}}/blog.html" class="btn {% if page.url == '/blog.html' %}btn-active{% endif %}">Blog</a></li>
        <li><a href="{{site.baseurl}}/about.html" class="btn {% if page.url == '/about.html' %}btn-active{% endif %}">About</a></li>
        <li><a href="{{site.baseurl}}/resume.html" class="btn {% if page.url == '/resume.html' %}btn-active{% endif %}">Resume</a></li>
    </ul>
</nav>
<hr>
<!-- about, resume, blog, projects -->
